@model AppUser

@{
    ViewData["Title"] = "Member Panel";
    Layout = "_MemberLayout";
}

<style>
    h1{
        color:pink;
        text-align:center;
    }
</style>





<h1>WELCOME @Model.NameSurname</h1>

@await Component.InvokeAsync("SportCards")